CompileFlags:
  CompilationDatabase: build
  Remove: [-mlongcalls, -fstrict-volatile-bitfields, -fno-tree-switch-conversion, -mfix-esp32-psram-cache-issue, -mno-fix-esp32-psram-cache-issue, -mtext-section-literals]
